* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding-block: 8px;
    place-content: center;
    background-color: black;
}

.Func{
    display: column;
    columns: 3;
    color: white;
}
.Func img{
    width: 50%;
    padding-block: 8px;
}
.imagem{
    display: column;
    columns: 3;
    color: white;
}
.imagem img{
    width: 50%;
    padding-block: 8px;
}
